<%- include('./partials/header') %>

<div class="container landing">
    <h1 >Welcome to Open4Tech</h1>
    <ul class="landing__links">
        <li><a class="button" href="/questions">Questions</a></li>
        <li><a class="button" href="/reviews">Reviews</a></li>
        <li><a class="button" href="/weather">Weather</a></li>
    </ul>
</div>

<%- include('./partials/footer') %>