<%- include('./partials/header') %>

<div class="container weather">
    <h1>Weather</h1>
    <div class="navigation">
        <a href="/" class="button">Back</a>
    </div>
    <div class="weather_info">
        <h4 data-loading>Loading...</h4>
        <h4 data-location></span></h4>
        <img src="" alt="" data-weather-icon>
        <h5 data-weather-status></h5>
        <h5 data-temperature></h5>
    </div>
</div>


<script src="/scripts/weather.js"></script>
<%- include('./partials/footer') %>
