<%- include('../partials/header') %>

<div class="container questions rev">
    <h1>Create a new review</h1>

    <form class="form" action="/reviews" method="POST">
        <div class="input_el">
            <label for="subject">Subject</label>
            <input type="text" name="subject" required>
        </div>
    
        <div class="input_el">
            <label for="review">Review</label>
            <input type="text" name="review" required>
        </div>
        
        <button class="button">Submit</button>
    </form>
</div>


<%- include('../partials/footer') %>